In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data_explode.csv')  # uploading the data into dataframe

In [4]:
df['mount'] = df['mount'].str.split(r'\\n')  #splitting with '\n'

In [5]:
df2 = df.explode('mount')   # getting multiple data in list against 1 value to single column

In [6]:
df2['mount'] = df2['mount'].map(lambda x: x.split(' on')[0])  # splitting with ' on' and taking only 0th index of the list

In [7]:
df2.to_csv('sliced_data_explode.csv')

In [8]:
df2.head()

         IP                      mount
0  1.1.1.11            1.2.32.12:/xyz7
0  1.1.1.11           1.2.32.12:/xyz10
0  1.1.1.11           1.2.32.12:/xyz11
0  1.1.1.11            1.2.32.12:/xyz6
0  1.1.1.11  1.1.132.15:/abcd_storage7