### Encoding

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r'D:\Edureka\sample_data_to_encode.csv')
print(df.shape)
df.head()

(10, 4)

   Country  Age  Salary Purchased
0   France   44   72000        No
1    Spain   27   48000       Yes
2  Germany   30   52000        No
3    Spain   45   61000        No
4  Germany   40   45000       Yes

In [7]:
x = df.iloc[:,0:3].values
x

array([['France', 44, 72000],
       ['Spain', 27, 48000],
       ['Germany', 30, 52000],
       ['Spain', 45, 61000],
       ['Germany', 40, 45000],
       ['France', 35, 58000],
       ['Spain', 39, 52000],
       ['France', 48, 79000],
       ['Germany', 50, 83000],
       ['France', 37, 67000]], dtype=object)

In [8]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

###### label encoding: transferring the strings to numbers

In [9]:
labelencoder_x = LabelEncoder()
x[:,0] = labelencoder_x.fit_transform(x[:,0])

In [11]:
# F comes 1st in alphabets as its zero and G is next so 1 and Spain is 2

x

array([[0, 44, 72000],
       [2, 27, 48000],
       [1, 30, 52000],
       [2, 45, 61000],
       [1, 40, 45000],
       [0, 35, 58000],
       [2, 39, 52000],
       [0, 48, 79000],
       [1, 50, 83000],
       [0, 37, 67000]], dtype=object)

###### one hot encoding: adding more columns for the 1 column got thorugh label encoding

In [12]:
onehotencoder = OneHotEncoder(categorical_features=[0])
x = onehotencoder.fit_transform(x).toarray()

In [14]:
pd.DataFrame(x)

# combination of columns 0,1 & 2 represents country

     0    1    2     3        4
0  1.0  0.0  0.0  44.0  72000.0
1  0.0  0.0  1.0  27.0  48000.0
2  0.0  1.0  0.0  30.0  52000.0
3  0.0  0.0  1.0  45.0  61000.0
4  0.0  1.0  0.0  40.0  45000.0
5  1.0  0.0  0.0  35.0  58000.0
6  0.0  0.0  1.0  39.0  52000.0
7  1.0  0.0  0.0  48.0  79000.0
8  0.0  1.0  0.0  50.0  83000.0
9  1.0  0.0  0.0  37.0  67000.0