## Explode & Group by

In [2]:
import pandas as pd

In [4]:
a = {'A':[1,1,2,2,3,3], 'B':['a','b','c','d','e','f']}

In [5]:
df = pd.DataFrame(a)
df

   A  B
0  1  a
1  1  b
2  2  c
3  2  d
4  3  e
5  3  f

#### group by (reverse of explode)

In [13]:
df2 = pd.DataFrame(df.groupby('A')['B'].apply(list))

In [14]:
df2

        B
A
1  [a, b]
2  [c, d]
3  [e, f]

#### explode

In [22]:
df3 = df2.explode('B')

In [23]:
df3

   B
A
1  a
1  b
2  c
2  d
3  e
3  f