#### pd.dummy to convert categorical values into numbers

In [1]:
import pandas as pd
d ={'S_Num':[1,2,3,4], 'gender':['Male', 'Female', 'Female', 'Female']}
df = pd.DataFrame(d)

In [2]:
df

   S_Num  gender
0      1    Male
1      2  Female
2      3  Female
3      4  Female

In [4]:
#get dummies to convert to numbers

pd.get_dummies(df['gender'])

   Female  Male
0       0     1
1       1     0
2       1     0
3       1     0

In [3]:
#drop first to drop duplicate (avoid multi colinearity in ML models)

male = pd.get_dummies(df['gender'], drop_first=True)
male

   Male
0     1
1     0
2     0
3     0

In [5]:
df = pd.concat([df,male], axis=1)
df

   S_Num  gender  Male
0      1    Male     1
1      2  Female     0
2      3  Female     0
3      4  Female     0

In [6]:
df.drop(columns=['gender'], inplace=True)
df

   S_Num  Male
0      1     1
1      2     0
2      3     0
3      4     0

#### now we can use label encoder and one hot encoder to simplify the same.