### To remove equal values columns from dataframe

In [1]:
#creating a dataframe with equalvalues in 3 columns

import pandas as pd

d = {'A':[1,2,3,4], 'B':[4,5,6,7], 'C':[1,2,3,4], 'D':['v1', 'v2', 'v3', 'v4'], 'E':[1,2,3,4]}
df = pd.DataFrame(d)
df

   A  B  C   D  E
0  1  4  1  v1  1
1  2  5  2  v2  2
2  3  6  3  v3  3
3  4  7  4  v4  4

In [3]:
#creating a function to find column names with equal values

def get_duplicate_cols(df):
    duplicate_col_bames = set()
    
    for x in range(df.shape[1]):
        col = df.iloc[:,x]
        
        for y in range(x+1, df.shape[1]):
            other_col = df.iloc[:,y]
            
            if col.equals(other_col):
                duplicate_col_bames.add(df.columns.values[y])
                
    return list(duplicate_col_bames)

In [4]:
get_duplicate_cols(df)

['E', 'C']

In [5]:
df.drop(columns=get_duplicate_cols(df), inplace=True)
df

   A  B   D
0  1  4  v1
1  2  5  v2
2  3  6  v3
3  4  7  v4